header {
  background-color: #ffffff;
  display: flex;
  border-bottom: solid 1px #000000;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    svg {
      fill: #000000;
    }
  }
}

@media (max-width: $mobile-width) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}